.payment-popup {
  padding: 40px;
  @include md {
    padding: 20px;
  }

  // .payment-popup__wrapper
  &__wrapper {
    max-width: 1140px;
    height: auto;
    width: 100%;
    background-color: transparent;
    padding: 0;
    transition: all 0.5s;
    overflow: hidden;
    border-radius: 20px;
    background: #000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;

    @include lg {
      max-width: 100%;
      height: 95%;
    }
    @media (max-width: 400px) {
      height: 100%;
    }
    &::after {
      content: "";
      background-image: url("../img/icons/gradient.png");
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: -0;
      left: 30%;
      width: 1107px;
      height: 724px;
      transform: translateX(-50%);
      pointer-events: none;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 20px;
      padding: 1px;
      background: linear-gradient(
        90.05deg,
        #9797976b 0%,
        rgba(151, 151, 151, 0) 45%,
        #97979773 100%
      );
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out;
      mask-composite: exclude;
      pointer-events: none;
    }
  }

  // .payment-popup__close
  &__close {
  }

  // .payment-popup__inner
  &__inner {
    width: 100%;
    height: 100%;
    @include lg {
      overflow: auto;
    }
  }

  // .payment-popup__head
  &__head {
    padding: 50px 80px 125px;
    @include lg {
      padding: 74px 35px 60px;
      height: 100%;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      // align-items: center;
      gap: 60px;
    }
    @media (max-width: 400px) {
      padding: 74px 35px 60px;

    }
  }

  // .payment-popup__sub
  &__sub {
    color: #ada08c;
    text-align: center;
    font-size: 24px;
    @include fabrigaRegular;
    line-height: normal;
    text-transform: uppercase;
    @include md {
      font-size: 16px;
      padding-bottom: 15px;
    }
  }

  // .payment-popup__title
  &__title {
    color: #fff;
    text-align: center;
    font-size: 38px;
    line-height: normal;
    text-transform: capitalize;
    font-weight: 300;
    @include cinzelRegular;
    @include md {
      font-size: 32px;
    }
  }

  // .payment-popup__list
  &__list {
    position: relative;
    display: flex;
    transition: height 0.5s;
    transition-delay: 0s;
    height: 0;
    overflow: hidden;
    @include lg {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 35px;
      height: auto;
    }
  }

  // .payment-popup__list-item
  &__list-item {
    transform: translateY(100%);
    transition: transform 0.5s;
    transition-delay: 0s;
    padding: 0 50px;
    @include lg {
      padding: 0;
      transform: initial;
    }

    &:nth-child(1),
    &:nth-child(2) {
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        width: 1px;
        height: 75px;
        background-color: #b8b8b8;
      }
    }
    &:nth-child(2) {
      transition-delay: 0s;
      &::after {
        @include lg {
          display: none;
        }
      }
    }
    &:nth-child(3) {
      transition-delay: 0s;
      // &::after {
      //   @include lg {
      //     display: none;
      //   }
      // }
    }
    &:nth-child(1) {
      transition-delay: 0s;
      padding-left: 0;
      &::after {
        @include md {
          display: none;
        }
      }
    }
    &:nth-child(4) {
      padding-right: 0;
    }

    h3 {
      font-size: 98px;
      line-height: 100%;
      color: #fff;
      text-align: center;
      @include fabrigaLight;
      @include md {
        font-size: 80px;
      }
    }

    p {
      font-size: 16px;
      line-height: 1.22;
      text-transform: uppercase;
      color: #cfcfcf;
      text-align: center;
      @include fabrigaLight;
      @include md {
      }
    }
  }

  // .payment-popup__list-item-after
  &__list-item-after {
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      width: 1px;
      height: 75px;
      background-color: #b8b8b8;
      @include lg {
        display: none;
      }
    }
  }
}

.payment__swiper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  position: relative;
  // @include lg {
  //   width: 100%;
  // }
  .swiper-wrapper {
    // width: min-content;
  }

  .swiper-button-prev,
  .swiper-button-next {
    cursor: pointer;
    display: none;
    position: relative;
    z-index: 2;
    @include md {
      display: block;
    }
  }
  &::after {
    @include md {
      content: "";
      position: absolute;
      left: 0px;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0) 70%, #000000 97.24%);

      pointer-events: none;
      z-index: 1;
    }
  }
  &::before {
    @include md {
      content: "";
      position: absolute;
      right: 0px;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(270deg, rgba(0, 0, 0, 0) 70%, #000000 97.24%);
      pointer-events: none;
      z-index: 2;
    }
  }
}

.paymentSwiperThumb {
  width: 92%;
  position: relative;
  @include md {
    width: 100%;
    overflow: hidden;
    margin: 0 20px;
  }

  .swiper-slide {
    width: auto !important;
    // @include md {
    // }
  }
}

.paymentSwiper {
  .swiper-slide {
    opacity: 0 !important;
    @include md {
      width: auto;
    }
  }
  .swiper-slide-active {
    opacity: 1 !important;
  }
}

.payment {
  //payment__tabs
  &__tabs {
  }

  //payment__nav
  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    margin: 0 auto 30px;
    @include lg {
      // overflow: hidden;
      order: 2;
      gap: 18px;
      margin: 0 auto;
    }

    &.payment__nav-none {
      display: none;
    }
  }

  //payment__nav-link
  &__nav-link {
    position: relative;
    cursor: pointer;
    width: max-content;
    padding-bottom: 3px;

    span {
      font-weight: 300;
      font-size: 24px;
      color: #575859;
      text-transform: uppercase;
      transition: all 0.3s;
      @include md {
        font-size: 16px;
      }
    }

    &::after {
      content: "";
      width: 0%;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 1) 50%,
        rgba(255, 255, 255, 0.2) 100%
      );
      background-size: 200% 100%;
      background-position: 100% 100%;
      transition: all 0.5s;
    }

    @media (max-width: 767.98px) {
      .swiper-slide-active & {
        span {
          color: #fff;
        }

        &::after {
          width: 100%;
          animation: shinePayment 2s linear infinite alternate-reverse backwards;
        }
      }
    }
    @media (min-width: 768px) {
      .swiper-slide-thumb-active & {
        span {
          color: #fff;
        }

        &::after {
          width: 100%;
          animation: shinePayment 2s linear infinite alternate-reverse backwards;
        }
      }
    }

    @keyframes shinePayment {
      0% {
        background-position: 100% 100%;
      }
      100% {
        background-position: 0% 100%;
      }
    }
  }

  //payment__tab-contant
  &__tab-contant {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    @include lg {
      order: 1;
    }
    @include md {
      height: auto;
    }
  }

  //payment__tab-pane
  &__tab-pane {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    height: 100%;
    width: 100%;
    display: flex;
    @include md {
      gap: 25px;
      width: 100%;
    }
  }
}

.payment-popup.popup-show {
  .payment-popup__list-item {
    &:nth-child(4) {
      transform: translateY(0);
      transition-delay: 0.5s;
    }
    &:nth-child(3) {
      transform: translateY(0);
      transition-delay: 0.4s;
    }
    &:nth-child(2) {
      transform: translateY(0);
      transition-delay: 0.3s;
    }
    &:nth-child(1) {
      transform: translateY(0);
      transition-delay: 0.2s;
    }
    @include lg {
      transform: initial;
    }
  }

  .payment-popup__list {
    height: 138px;
    transition-delay: 0.2s;
    @include lg {
      height: 100%;
    }
  }
}
