/** @format */


@use "sass:math";

// Підключення міксинів ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Підключення шрифтів ===========================================================================================================================================================================================================================================================================
@import "../../fonts/Fabriga/stylesheet.css";
// @import '../../fonts/Raleway/stylesheet.css';
@import "../../fonts/Cinzel/stylesheet.css";

$fontFamilyFirst: "Fabriga";
$fontFamilySecond: "Cinzel";
$fontSize: 14px;
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнулення ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";
@import "libs/swiper";

// Стилі тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================

@import "base";
:root {
  --vh: 100dvh;
}
body {
  overflow: hidden;
}

#turn {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  z-index: 9999;
  font-family: "Fabriga";
  text-transform: uppercase;
  color: #fff;
  width: 100vw;
  height: var(--vh);
  flex-direction: column;
  font-size: 24px;
  color: var(--primary);
  display: none;
  text-align: center;
  .turn-logo {
    transform: scale(0.5);
  }
}

/* (A) WRONG ORIENTATION - SHOW MESSAGE HIDE CONTENT */
@media (max-device-width: 576px) and (orientation: landscape) {
  #turn {
    display: flex;
  }
  #scroller {
    display: none;
  }
}

/* (B) CORRECT ORIENTATION - SHOW CONTENT HIDE MESSAGE */
@media (max-device-width: 576px) and (orientation: portrait) {
  #turn {
    display: none;
  }
  #scroller {
    display: block;
  }
}

main {
  height: 100%;
  width: 100%;
}

@import "./sections/viewer";
@import "./sections/viewer_navigation";
@import "./sections/gallery";
@import "./sections/popups/popups";
@import "./sections/popups/floorplan_popup";
@import "./sections/popups/info_popup";

.iti input[type="tel"] {
  padding-left: 4px !important;
}


